{% extends "base.html" %} 
{% block title %} My Fucking Awesome Blog! {% endblock%} 
{% block content %}
<h1>Post</h1>
{% for post in object_list %}
<h2>
  <a href="{% url 'article' post.pk %}">{{post.title}} </a> - <a href="{% url 'catagory' post.catagory|slugify %}">{{post.catagory}}</a>
  <small>
    {{post.created_at}} - {{post.author}}
    {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
      - <a href="{% url 'update_post' post.pk %}">(Edit)</a
      ><a href="{% url 'delete_post' post.pk %}">(Delete)</a>
      {% endif %}
    {% endif %}
  </small
  >
</h2>
<p>{{post.body|slice:":200" |safe}}</p>
{% endfor %} 


{% endblock %}
